<div
  id="carouselExampleSlidesOnly"
  class="carousel slide carousel-fade"
  data-bs-pause="false"
  data-bs-interval="5000"
  data-bs-ride="carousel"
>
  <div class="carousel-text-container">
    <div class="carousel-text-left-aligner">
      <p>
        <span class="carousel-text-best-prices">Best Prices</span>
      </p>
      <h3 class="carousel-text-incredible-prices">
        Incredible Prices <br />
        on All Your <br />
        Favorite Items
      </h3>
      <p class="carousel-text-get-more">Get more for less on selected brands</p>
      <button class="carousel-btn-shop-now">Shop Now</button>
    </div>
  </div>
  <!-- -------------------- -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/computer.webp"
        class="d-block"
        alt="computer displaying a picture of a network"
      />
    </div>

    <div class="carousel-item carousel-item2">
      <img src="/assets/phone.webp" class="d-block" alt="man holding a phone" />
    </div>

    <div class="carousel-item carousel-item3 active">
      <img
        src="/assets/watch.webp"
        class="d-block"
        alt="a smart watch sitting on a laptop"
      />
    </div>
  </div>
</div>
