<nav>
  <div class="shopping-categories-list">
    <ul>
      <li><a class= "categories-item" href="#">Shop All</a></li>
      <li><a class= "categories-item" href="#">Computers</a></li>
      <li><a class= "categories-item" href="#">Tablets</a></li>
      <li><a class= "categories-item" href="#">Drones & Cameras</a></li>
      <li><a class= "categories-item" href="#">Audio</a></li>
      <li><a class= "categories-item" href="#">Mobile</a></li>
      <li><a class= "categories-item" href="#">T.V & Home Cinema</a></li>
      <li><a class= "categories-item" href="#">Wearable Tech</a></li>
      <li><a class= "categories-item" href="#">Sale</a></li>
    </ul>
  </div>
</nav>
