<div
  id="carouselExampleSlidesOnly"
  class="carousel slide carousel-fade"
  data-bs-pause="false"
  data-bs-interval="5000"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/computer.webp"
        class="d-block"
        alt="computer displaying a picture of a network"
      />
    </div>

    <div class="carousel-item carousel-item2">
      <img src="/assets/phone.webp" class="d-block" alt="man holding a phone" />
    </div>

    <div class="carousel-item carousel-item3 active">
      <img
        src="/assets/watch.webp"
        class="d-block"
        alt="a smart watch sitting on a laptop"
      />
    </div>
  </div>
</div>
