<section id="shop-section">
  <div class="deals-just-in">
    <div class="thirtyPercent">
      <p>Holiday Deals</p>
      <h3>
        Up to <br />
        30% off
      </h3>
      <p>Selected Smartphone Brands</p>
      <button class="thirtypercent-btn">Shop</button>
    </div>
    <div class="justIn">
      <p>Just in</p>
      <h3>
        Take Your <br />
        Sound <br />
        Anywhere
      </h3>
      <p>Top Headphone Brands</p>
      <button class="justIn-btn">Shop</button>
    </div>
  </div>
  <div class="pickup">
    <div class="pickup-text">
      <p>
        Curb-side <br />
        Pickup
      </p>
    </div>

    <div class="pickup-text">
      <p>
        Free shipping on <br />
        orders over $50
      </p>
    </div>

    <div class="pickup-text">
      <p>
        Low prices<br />
        guaranteed
      </p>
    </div>

    <div class="pickup-text">
      <p>
        available to you<br />
        24/7
      </p>
    </div>
  </div>
  <section class="best-sellers-card-carousel-container">
    <div class="best-sellers-heading">
      <h3>Best Sellers</h3>
    </div>
    <app-card-carousel></app-card-carousel>
  </section>
</section>

